@font-face {
    font-family: "GT America Epanded Black Italic" ;
    src: url(../assets/fonts/GT-America-Expanded-Black-Italic-Trial.otf);
}
@font-face {
    font-family: "GT America Mono Black";
    src: url(../assets/fonts/GT-America-Mono-Black-Trial.otf);
}

:root {
    --header-heigth: 80px;
    --black: #161A1D;
    --white: #F5F3F4;
}
/* --------General---------*/
 * {
    font-family: 'Montserrat', sans-serif;
 }
 
 h1 {
    color: var(--white);
 }
 
 a {
    text-decoration: solid;
    color: rgb(255, 255, 255);
 }

/* --------Header---------*/

header {
    position: fixed;
    width: 100%;
    height: var(--header-heigth);
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: 1000;
}

 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 nav > a {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    transition: background-color 0.2s, color 0.2s;
 }
 nav > a:hover {
    background-color: #660708;
    transform: translateX(-10px);
 }
 nav > a > img {
    height: var(--header-heigth);
    filter: brightness(0) invert(1); /*Convierto favicon en blanco para crear el logo de la pagina*/
 }
nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0px;
}

nav > ul > li {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 20px;
    transition: background-color 0.2s, color 0.2s;

}
nav > ul > li:hover {
    background-color: #A4161A;
    transform: scale(1.1);
}


/* --------Main---------*/
main {
    position: relative;
    top: var(--header-heigth);
}

h1 {
    font-family: "GT America Epanded Black Italic", sans-serif;
}
