@font-face {
    font-family: "GT America Epanded Black Italic" ;
    src: url(../assets/fonts/GT-America-Expanded-Black-Italic-Trial.otf);
}
@font-face {
    font-family: "GT America Mono Black";
    src: url(../assets/fonts/GT-America-Mono-Black-Trial.otf);
}

:root {
    --header-heigth: 80px;
    --black: #2B2D42;
    --white: #F5F3F4;
}

/*Color palette de la página: https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff 

https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429

*/

/* --------General---------*/
 * {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
 }

 h2 {
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 0px 5px 10px #101119;
 }
 
 a {
    text-decoration: solid;
    color: rgb(255, 255, 255);
 }
 
 body {
    background-color: #101119;
 }

/* --------Header---------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-heigth);
    background-color: var(--black);
    z-index: 1000;
}

 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 nav > a {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
    transition: background-color 0.1s, color 0.1s;
 }
  /*Efectos del logo de la pagina*/
    nav > a:hover {
        background-color: #232537;
        transform: translateX(-10px);
    }
    nav > a:active {
        background-color: #202232;
}
 nav > a > img {
    padding-right: 10px;
    height: var(--header-heigth);
    filter: brightness(0) invert(1); /*Convierto favicon en blanco para crear el logo de la pagina*/
 }
 header > nav > a > h1 {
    font-family: "GT America Epanded Black Italic", sans-serif;
    color: var(--white);
 }
nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0px;
}

nav > ul > a {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 20px;
    transition: background-color 0.2s, color 0.2s;

}
/*Efectos de los botones del header*/
    nav > ul > a:hover {
        background-color: #EF233C;
        transform: scale(1.1);
    }
    nav > ul> a:active {
        background-color: #D90429;
    }

/*Pagina actual --> inline en cada html*/


/* --------Main---------*/
main {
    position: absolute;
    top: var(--header-heigth);
    min-width: 100%;
}


#landing-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    min-height: 100vh;
}
#landing-text > h1 {
    font-family: "GT America Epanded Black Italic", sans-serif;
    color: var(--white);
    font-size: 50px;
    text-align: center;
    margin: 20px;
}
#landing-text > h2 {
    color: #8D99AE;
    margin: 10px;
}

#landing-buttons {
    margin-top: 200px;
}

#landing-buttons > ul {
    display: flex;
    flex-direction: row;
 }
#landing-buttons > ul > a {
    background-color: #EF233C;
    border-radius: 5px;
    margin: 0px 25px;
    padding: 10px;
    transition: background-color 0.1s, color 0.1s;
    display: flex;
    align-items: center;
    text-align: center;
}


#landing-main-card {
    background-color: #8D99AE;
    margin: 0px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#landing-main-card-nav {
    position: relative;
    top: -80px; /*Para corregir que el scroll ponga el titulo de la seccion por detras del nav*/
}

#landing-cities {
    background-color: rgb(255, 255, 255);
    border-radius: 20px; 
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.city-card {
    background-color: #EDF2F4;
    border-radius: 20px;
    margin: 10px 15px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: justify;   
}

.city-card > img {
    width: 80%;
    border-radius: 5px;
}
.city-card > h4 {   
    word-wrap: break-word;
    width: 80%;
}

